$Ten: 10;

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$BlueColor: rgb(152, 174, 183);

$z-index5:5;
$z-index10:10;
$z-index15:15;
$z-index20:20;
$z-index25:25;
$z-index30:30;